{{ define "nav" }}
<nav class="site-nav {{ .NavClass }}">
  <a class="site-nav__brand" href="/">
    <span class="site-nav__brand-mark">LX</span>
    <span class="site-nav__brand-text">夏风</span>
  </a>
  <div class="site-nav__links">
    <a class="site-nav__link{{ if eq .Active "blog" }} is-active{{ end }}" href="/blog">Blog</a>
    <a class="site-nav__link{{ if eq .Active "about" }} is-active{{ end }}" href="/about">About</a>
    <a class="site-nav__link" href="{{ .GitHubURL }}" target="_blank" rel="noreferrer">GitHub</a>
  </div>
</nav>
{{ end }}
